header {
    margin-bottom: 120px;
    margin-left: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 105px;
    color: #811FF1;





}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1C1628;
    





}

article {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1C1628;
   
    



}



article:nth-of-type(1) {
        
    margin: 86px 0 0 289px;
    flex-basis: 520px;
}

article:nth-of-type(2) {
    margin:  86px 0 0 405.77px;
    flex-basis: 520px;
}

article:nth-of-type(3) {
    
    margin: 86px 285.63px 0 402.04px;
    flex-basis: 520px;
}

           
.icon{
    margin: 64px 0 0 0;
}


article:nth-of-type(4) {
    margin: 240px 580px 120px 120px;
    flex: 1220px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.01em;
    color: #BDBDBD;
    text-align:left;
    text-transform:none;

}


.autograph {
    color: #811FF1;
}

